* {
    background-color: #161515;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    width: 75%;
    margin: 3px 0px 3px 0px;
    text-align: center;
}

h1, h2, h3 {
    color: violet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color:violet;
}

span {
    color: white;
}

pre {
    box-sizing: border-box;
    border-radius: 5px;
    width: 95%;
    color: white;
    user-select: all;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
}

article:hover {
    box-shadow: inset 0px 0px 0px 2px
    rgba(232, 102, 236, 1), 0 0 5px
    rgba(232, 102, 236, 1);
}

article {
    box-sizing: border-box;
    width: 30%;
    border: 2px dashed white;
    display: flex;
    /* flex: 1 1 1; */
    justify-content: space-between;
    padding-top: 20px;
    /* margin: 5px; */
    /* text-align: center; */
    transition: all 0.5s ease-in-out;
 }
  

@media screen and (max-width:992px) {
    article {
    width: 50%;
    }
}

@media screen and (max-width:768px) {
    article {
    width: 100%;
    }
}

footer {
    width: 60%;
    text-align: center;
    align-items: flex-end;
}

.overlay {
    position: relative;
    margin-top: -20px;
    border-style: groove;
    width: 95%;
    color: violet;
}